
.page {
	margin: 1em auto;
	max-width: 768px;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	height: 100%;
}
.result{
    width: 400px;
    height: 300px;
    margin: auto;
}
.box {
	padding: 0.5em;
	margin:0.5em;
}

.box-2 {
	padding: 0.5em;
}


.options label,
.options .img-w{
  display: none;
}
.btn{
	background:white;
	color:black;
	border:1px solid black;
	padding: 0.5em 1em;
	text-decoration:none;
	margin:0.8em 0.3em;
	display:inline-block;
	cursor:pointer;
}

.hide {
	display: none;
}

img {
	max-width: 100%;
}

.loader4 {
  width:45px;
  height:45px;
  display:inline-block;
  padding:0px;
  border-radius:100%;
  border:5px solid;
  border-top-color:lightblue;
  border-bottom-color:rgba(255,255,255, 0.3);
  border-left-color:lightblue;
  border-right-color:rgba(255,255,255, 0.3);
  -webkit-animation: loader4 1s ease-in-out infinite;
  animation: loader4 1s ease-in-out infinite;
}
@keyframes loader4 {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@-webkit-keyframes loader4 {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div {
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: center;
}
#output{
    background: lightblue;
    color: #fff;
    border-radius: 2px;
    padding: 3px 7px;
    margin: 0px 10px;
    text-align: center;
    position: relative;
}
#output::before {
    content: '';
      position: absolute;
      left: -12px;
      top: 50%;
      transform: translateY(-50%);
      height: 0;
      width: 0;
      border: solid 6px lightblue;
      z-index: -1;
      border-top-color: white;
      border-bottom-color: white;
      border-left-color: white;
}

/* CHROME */
#range {
  -webkit-appearance: none;
  outline: none;
  background: lightblue;
  height: 6px;
  width: 250px;
  border-radius: 5px;
}

#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: lightblue;
}

/* FIREFOX */
#range::-moz-range-thumb {
  border: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: lightblue;
  cursor: pointer;
}

#range::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: lightblue;
  border-radius: 5px;
}


.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 175px;
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  height: 40px;
}





@media all and (max-width: 500px) {
  .card-list {
    flex-direction: column;
  }
}

